@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Boas vindas</h1>
    <p>Aprenda sobre <a href="https://docs.microsoft.com/aspnet/core">como criar aplicativos Web com ASP.NET Core</a>.</p>
</div>
