@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Boas vindas</h1>
    <div>
        <p>Este site fornece uma calculadora de idade disponível no painel de navegação acima ou <a asp-area="" asp-controller="Home" asp-action="Idade">aqui</a>.</p>
        <p>O tutorial utilizado para a criação desse site está disponível <a href="https://learning.oreilly.com/videos/beginning-asp-net-core/9781789619355/">aqui</a>.</p>
        <p>Aprenda sobre <a href="https://docs.microsoft.com/aspnet/core">como criar aplicativos Web com ASP.NET Core</a>.</p>
    </div>
</div>
