@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Política de Privacidade da página.</p>
<hr>
<p>Esse site foi criado por <a href="https://www.linkedin.com/in/wesley-yago-da-silva/">Wesley Yago da Silva</a>.</p>
